<% include ./partials/header %>

		<div class="jumbotron">
			<h1>S<span class="brandChar">Q</span>UASH ACADEMY</h1>
			<p>Najlepsze miejsce do nauki squasha na śląsku</p>
			<button class="btn btn-default btn-lg">Zagraj z nami!</button>
		</div>
		
		<div class="container">
			<form action="/" method="POST">
				<div class="form-group">
					<label>Imię i nazwisko</label>
					<input type="text" class="form-control" name="name" placeholder="Imię i nazwisko">
				</div>
				<div class="form-group">
					<label>Termin</label>
					<input class="form-control" name="date" type="date">
				</div>
				<div class="form-group">
					<label>Trener</label>
					<select class="form-control" name="coach">
						<option value="">Ania</option>
						<option value="">Kamil</option>
					</select>
				</div>
				<div class="form-group" style="display: inline-block;">
					<label>Nr. telefonu</label>
					<input class="form-control" name="telephone" style="width: auto;" type="tel">
				</div>	
				<div class="form-group" style="display: inline-block;">
					<label>Email</label>
					<input class="form-control" name="email" style="width: auto;" type="email">
				</div>
				<div class="form-group">
					<label>Wiadomość</label>
					<textarea class="form-control" name="message" placeholder="Wiadomość">
					</textarea>
				</div>
				<div class="form-group">
					<input class="form-control btn btn-default" type="submit">
				</div>
			</form>
		</div>

<% include ./partials/footer %>