@font-face{
	font-family: "riffic";
	src: url(assets/RifficFree-Bold.ttf);
}

.navbar-brand{
	font-family: riffic;
	color: black;
}

#brand{
	color: black;
}

.brandChar{
	color: #B71817;
}

.fa-facebook-f{
	color: #B71817;
}

#navbar{
	margin-bottom: 0px;
}

h1{
	font-family: riffic;
	color: black;
}

.jumbotron{
	text-align: center;
	background-image: url(assets/jumbo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 15%;
	background-size: 1298.75px 865.75px;
}
#avatar_ann {
    background-image: url(https://secure.gravatar.com/avatar/5f7454b8c029fba3e676cf9a1a1ccb27?d=https://www.forum.optymalizacja.com/uploads/monthly_2017_09/B.png.45ce5c3b502f500aa4dcbac72cbd47b5.png);
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    margin: 50px auto;
}
#avatar_kamil {
    background-image: url(https://secure.gravatar.com/avatar/5f7454b8c029fba3e676cf9a1a1ccb27?d=https://www.forum.optymalizacja.com/uploads/monthly_2017_09/B.png.45ce5c3b502f500aa4dcbac72cbd47b5.png);
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    margin: 50px auto;
}

.gridMargin{
	margin-top: 90px;
	margin-bottom: 50px;
	margin-left: 100px;
}